{% extends 'base.html' %}
{% block loader %} {% include 'loader.html' %} {% endblock loader %}
{% block header %} {% include 'header.html' %} {% endblock header %}
{% block banner %} {% include 'banner.html' %} {% endblock banner %}
{% block content %}
<div class="container">
  <div class="row det mt-5">
   <div class="card mb-3">
     <div class="row g-0">
       <div class="col-md-6">
         <img src="{{fdet.img.url}}" class="img-fluid rounded-start" style="height: 60vh;" width="500px" alt="">
       </div>
       <div class="col-md-6">
         <div class="card-body">
           <h2 class="card-title text-capitalize">Unisex Summer Wear</h2>
           <h5 class="card-title">{{fdet.price}}</h5>
           <hr>
           <p class="card-text">{{fdet.description}}</p>
               <hr>
               <div class="mb-3">
                 <label for="">Size</label>
                 <select name="" id="size">
                  
                  {% for item in fsize %}
                  <option value="">20-25</option>
                  {% endfor %}
                 </select>
               </div>

               <button class="btn btn-outline-dark ">Add To Cart</button>
               <p class="detcat">category: <span>{{fdet.type}}</span></p>
         </div>

       </div>
     </div>
   </div>
  </div>
 </div>
{% endblock content %}
{% block footer %} {% include 'footer.html' %} {% endblock footer %}